.topbar{
    font-size: 30px; 
}
.panels{
    font-size: 25px;
}

.padding{
    padding: 70px 0;
}


div{
    font-family: "Times New Roman";
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

